a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_7c89f87c a { text-decoration: none; }
#menu_7c89f87c_pane { background-color: #253551; border: 1px solid #253551; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7c89f87c_hr { background-color: #253551; height: 1px; border: none; }
#menu_7c89f87c_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_7c89f87c_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_7c89f87c_entry:hover span { color:#FFFFFF !important; }
		.menu_7c89f87c_mainMenuEntry { text-align: center; }
		.menu_7c89f87c_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_7c89f87c_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_7c89f87c .mobileEntry { display: none; } 
		#menu_7c89f87c .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_7c89f87c .mobileEntry { display: block; } 
			#menu_7c89f87c .normalEntry { display: none; } 
		}
#button_43b4a94f { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#253551; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_43b4a94f:hover { background-color:#485E86;  }
#button_43b4a94f:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_1f3203a9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_1a1378e9 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#313131;  }
#container_1a1378e9_padding { margin: 10px; display: block;  }
#container_5f4e8a6d { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_5f4e8a6d_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:18pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#container_63ce59bf { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_63ce59bf_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_7c89f87c { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:46px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:43px;  }
.textstyle5 { font-size:28pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:59px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:87px; height:38px; left:69px;  }
.style6 { position:absolute; width:70px; height:38px; left:156px;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_2ab67bc9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#313131;  }
#container_2ab67bc9_padding { margin: 40px; display: block;  }
.textstyle8 { font-size:54pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#container_5792ad83 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#E0E0DB;  }
#container_5792ad83_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E; line-height: 1.5;  }
#container_3ef23186 { vertical-align: top; position:relative; display: inline-block; width:38%; min-height:222px; background:none;  }
#container_3ef23186_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#20242E; line-height: 1.5;  }
.textstyle11 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E; line-height: 1.5;  }
#container_3d01cec2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#282627;  }
#container_3d01cec2_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
.textstyle13 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle14 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle15 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
.textstyle16 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle17 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
.textstyle18 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_34482c93 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_34482c93_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:16pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  }
#container_26cda9dd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_26cda9dd_padding { margin: 10px; display: block;  }
#container_6b0b2a5b { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_6b0b2a5b_padding { margin: 10px; display: block;  }
.textstyle20 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_6e474205 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_6e474205_padding { margin: 10px; display: block;  }
.textstyle21 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  }
#container_2ced744a { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2ced744a_padding { margin: 10px; display: block;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000;  }
@media only screen and (max-width: 740px)
{
		#container_2ab67bc9 * span { font-size:40pt;  }
}
@media only screen and (max-width: 650px)
{
		#container_6b0b2a5b { width:100%;  }
		#container_6e474205 { width:100%;  }
		#container_2ced744a { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_5f4e8a6d * span { font-size:15pt;  }
		#menu_7c89f87c { width:150px;  }
}
@media only screen and (max-width: 600px)
{
		#container_2ab67bc9 * span { font-size:25pt;  }
}
