a { color:#7E7EBE; } 
a:visited { color:#7E7EBE; } 
a:active { color:#7E7EBE; } 
a:hover { color:#B2B3B4; } 
#menu_510d7fec a { text-decoration: none; }
#menu_510d7fec_pane { background-color: #253551; border: 1px solid #253551; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_510d7fec_hr { background-color: #253551; height: 1px; border: none; }
#menu_510d7fec_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_510d7fec_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_510d7fec_entry:hover span { color:#FFFFFF !important; }
		.menu_510d7fec_mainMenuEntry { text-align: center; }
		.menu_510d7fec_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_510d7fec_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_510d7fec .mobileEntry { display: none; } 
		#menu_510d7fec .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_510d7fec .mobileEntry { display: block; } 
			#menu_510d7fec .normalEntry { display: none; } 
		}
#button_75690335 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#253551; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_75690335:hover { background-color:#485E86;  }
#button_75690335:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_24a694d0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_6f0ee363 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#313131;  }
#container_6f0ee363_padding { margin: 10px; display: block;  }
#container_5b5d7ea1 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_5b5d7ea1_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:18pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#container_73249144 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_73249144_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_510d7fec { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:46px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:43px;  }
.textstyle5 { font-size:28pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:59px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:87px; height:38px; left:69px;  }
.style6 { position:absolute; width:70px; height:38px; left:156px;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_3b4af324 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#313131;  }
#container_3b4af324_padding { margin: 40px; display: block;  }
.textstyle8 { font-size:54pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#container_2cec8d25 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#E0E0DB;  }
#container_2cec8d25_padding { margin: 10px; display: block;  }
#container_33793bb5 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_33793bb5_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E; line-height: 1.5;  }
.textstyle10 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E; line-height: 1.5;  }
.textstyle11 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E; line-height: 1.5;  }
#container_5531188a { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:376px; background:none;  }
#container_5531188a_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#20242E; line-height: 1.5;  }
#img_50cb666a { position:absolute; left:30%; top:12%; width:50%; background:none; height:auto;  }
#container_6f28f537 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#313131;  }
#container_6f28f537_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
.textstyle14 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle15 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle16 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle17 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
.textstyle18 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle19 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
.textstyle20 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_9038ba { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#E0E0DB;  }
#container_9038ba_padding { margin: 10px; display: block;  }
#container_798fb160 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_798fb160_padding { margin: 10px; display: block;  }
.textstyle21 { font-size:16pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  }
#container_193e5a5a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_193e5a5a_padding { margin: 10px; display: block;  }
#container_b502759 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_b502759_padding { margin: 10px; display: block;  }
.textstyle22 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_5c17f023 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_5c17f023_padding { margin: 10px; display: block;  }
.textstyle23 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  }
#container_690011d2 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_690011d2_padding { margin: 10px; display: block;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000;  }
@media only screen and (max-width: 740px)
{
		#container_3b4af324 * span { font-size:40pt;  }
}
@media only screen and (max-width: 650px)
{
		#container_b502759 { width:100%;  }
		#container_5c17f023 { width:100%;  }
		#container_690011d2 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_5b5d7ea1 * span { font-size:15pt;  }
		#menu_510d7fec { width:150px;  }
}
@media only screen and (max-width: 600px)
{
		#container_3b4af324 * span { font-size:25pt;  }
		#container_33793bb5 { width:100%;  }
		#container_5531188a { width:100%;  }
}
